html, body,header{
  margin: 0;
  padding: 0;
}

details {
    width: 90%;
    margin: 0 auto ;
    background-color: #F2B705;
    margin-bottom: .5rem;
    box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
    border-radius: 10px;
    overflow: hidden;
    color: #000;
  }
  
  summary {
    padding: 5px;
    display: block;
    background-color: #fff;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
    font-weight: 600;
  }
  
  summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #000;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
  }
  
  /* THE MAGIC 🧙‍♀️ */
  details[open] > summary:before {
    transform: rotate(90deg);
  }
  
  
  details summary::-webkit-details-marker {
    display:none;
  }
  
  details ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
    color: #000;
  }
  
   
  body {
    background:#EC7000;
    height: 100vh;
    width: 100%;
    font-family: 'Kalam', cursive;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
  }

  header{
      font-family: 'Kalam', cursive;
      text-align: center;
      color: red;
      background-color: #fff;
      text-shadow: 1px 1px 2px black;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  header h1{
    margin: 0;
  }

  .telefone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .telefone a{
    text-decoration: none;
    color: black;
    text-shadow: none;
  }
  
  nav { 
      display: inline-flex;
      justify-content: space-around;
      flex-direction: row;
      background-color: #EFE9E5;
      width: 100%;
      font-size: 12px;
      margin-bottom: 10px;
  }

  nav a{
      text-decoration: none;
      color: black;
  }

  span{
      font-weight: 600;
      color: #F2B705;
  }

  .precoOpcao{
      color: #fff;
  }

  .cifrao{
    color: #fff;
  }

  footer{
    background-color: #EFE9E5;
    color: black;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }

  footer p{
    margin: 0;
  }
  main{
    flex-grow: 1;
  }

  .bebida, .opcional{
    color: #fff;
  }
  
